services:
  trade-exportscore-plp:
    build:
      context: .
      target: production
    image: trade-exportscore-plp
    container_name: trade-exportscore-plp
    depends_on:
      - trade-exportscore-plp-postgres
    environment:
      APPINSIGHTS_CLOUDROLE: trade-exportscore-plp-local
      APPINSIGHTS_CONNECTIONSTRING: ${APPINSIGHTS_CONNECTIONSTRING}
      POSTGRES_DB: eutd-trade-exports-core-trade-exportscore-plp
      POSTGRES_HOST: ${POSTGRES_HOST:-trade-exportscore-plp-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_SCHEMA_PASSWORD:-ppp}
      POSTGRES_PORT: 5432
      POSTGRES_SCHEMA_NAME: ${POSTGRES_SCHEMA_NAME:-public}
      POSTGRES_USERNAME: ${POSTGRES_SCHEMA_USERNAME:-postgres}
      MESSAGE_QUEUE_HOST: ${MESSAGE_QUEUE_HOST}
      MESSAGE_QUEUE_PASSWORD: ${MESSAGE_QUEUE_PASSWORD}
      MESSAGE_QUEUE_USER: ${MESSAGE_QUEUE_USER}
      PLP_TOPIC_ADDRESS: ${PLP_TOPIC_ADDRESS}
      PLP_SUBSCRIPTION_ADDRESS: ${PLP_SUBSCRIPTION_ADDRESS}
      PLP_SUBSCRIPTION_NAME: ${PLP_SUBSCRIPTION_NAME}
      TP_QUEUE_ADDRESS: ${TP_QUEUE_ADDRESS}
      TP_QUEUE_HOST: ${TP_QUEUE_HOST}
      TP_CLIENT_ID: ${TP_CLIENT_ID}
      DYNAMICS_AUTH_URL: ${DYNAMICS_AUTH_URL}
      DYNAMICS_URL: ${DYNAMICS_URL}
      DYNAMICS_CLIENT_ID: ${DYNAMICS_CLIENT_ID}
      DYNAMICS_CLIENT_SECRET: ${DYNAMICS_CLIENT_SECRET}
      DYNAMICS_APPLICATION_ID: ${DYNAMICS_APPLICATION_ID}
      FORM_RECOGNIZER_ENDPOINT: ${FORM_RECOGNIZER_ENDPOINT}
      FORM_RECOGNIZER_API_KEY: ${FORM_RECOGNIZER_API_KEY}
      IS_DOCUMENT_INTLELLIGENCE_ENABLED: ${IS_DOCUMENT_INTLELLIGENCE_ENABLED}
      MDM_API_URL: ${MDM_API_URL}
      MDM_SUBSCRIPTION_KEY: ${MDM_SUBSCRIPTION_KEY}
      MDM_TENANT: ${MDM_TENANT}
      MDM_AUTH_URL: ${MDM_AUTH_URL}
      MDM_CLIENT_ID: ${MDM_CLIENT_ID}
      MDM_CLIENT_SECRET: ${MDM_CLIENT_SECRET}
      MDM_SCOPE: ${MDM_SCOPE}

  trade-exportscore-plp-postgres:
    image: postgres:11.4-alpine
    environment:
      POSTGRES_DB: eutd-trade-exports-core-trade-exportscore-plp
      POSTGRES_PASSWORD: ${POSTGRES_SCHEMA_PASSWORD:-ppp}
      POSTGRES_USERNAME: ${POSTGRES_SCHEMA_USERNAME:-postgres}
